extends layout

block content
    h1 #{title}
    form(method='POST' action='/admin/types/add')
      #form-group
      label #{label_type_name}:
      input.form-control(type='text', placeholder='Ex...Consumação', name='type_name')
      br
      #form-group
      button.btn.btn-primary(type='submit',value='Submit') Criar
      br
      br
      if types.length > 0
        ul.list-group
          each type, i in types
            li.list-group-item
              span(class='glyphicon glyphicon-trash delete-user' data-path=currentPath, data-id=type._id) #{type.name}
      else
        span #{empty_list}
