extends layout

block content
  h1= house.name
  label= house.address
  br
  label= house.closeto
  br
  label= house.email
  br
  label= house.phone
  br
  label= house.site
  br
  label= house.description
  br
  img(src=house.cover)
  br
  img(src=house.thumb)
  br
  input(type="hidden" id="lat" value=house.coordinateslat)
  input(type="hidden" id="lng" value=house.coordinateslng)
  div(id="map")
  hr
  a.btn.btn-default(href='/admin/houses/edit/'+house._id) Editar
  a.btn.btn-danger.delete-user(href='#', data-path=currentPath, data-id=house._id) Deletar
